**/bin
**/obj
/data
/backups
/src/SlimVector.Studio/data
/src/SlimVector.Studio/backups
/src/SlimVector.Studio/model
/src/SlimVector.Studio/models
**/TestResults
artifacts
BenchmarkDotNet.Artifacts
.git
.idea
.vs
.vscode
